/* @import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  --landing-page-gradient: linear-gradient(170deg, #def5ff, #ffffff);
  --toast-error-color: #ffdadab0;
  --toast-success-color: #93ff938f;
  --auth-page-gradient: linear-gradient(170deg, #92deffe4, #ffffffe1);
  --navlinks-color: #575757;
  --navbar-heading: #000;
  --footer-color: #1b1b1b;
  --theme-color: #005EF6;
  --header-text: #000;
  --header-bottom-text: var(--color-gray-800);
  --theme-button-color: var(--color-gray-500);
  --current-theme: var(--color-gray-800);
  --header-blue-theme: #005EF6;
  /* --carousel-heading-font: font-family: "Protest Riot", "Poppins"; */
  --feature-card-bg: rgba(255, 255, 255, 0.605);
  --feature-card-border: rgba(0, 0, 0, 0.162);
  --feature-card-title: #111;
  --feature-card-text: #444;                    
  --feature-card-badge-bg: rgba(0, 0, 0, 0.025); 
  --loading-background: #e1ebff;
  --login-visual-background: --landing-page-gradient: linear-gradient(170deg, #ccf0ff, #ffffff);
  --protest-riot-font:"Protest Riot", "Poppins";
  --login-card-bg: #fff;
  --login-card-bottom-text: var(--color-gray-600);
  --login-border-color: var(--color-gray-300);
  --googleAuth-color: rgba(0, 0, 0, 0.158);
  --googleAuth-color-hover: rgba(0, 0, 0, 0.263);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --otp-border: #5e5e5e81;
  --dropdown_menu_hover: #212121;
  --profile_menu_bg: #454040;
}

.dark {
  --landing-page-gradient: linear-gradient( 300deg,
  #12181B 0%,     
  #12181B 50%,    
  #1f2937 100%  );
  --toast-error-color: #6c0000cc;
  --toast-success-color: #0056008f;
  --auth-page-gradient: linear-gradient( 300deg,
  #12181bed 0%,     
  #12181bea 50%,    
  #1f2937f0 100%);
  --navlinks-color: #b9b9b9;
  --navbar-heading: #fff;
  --footer-color: #000000;
  --theme-color: #005EF6;
  --header-text: #F8F9FA;
  --header-bottom-text: var(--color-gray-200);
  --theme-button-color: var(--color-gray-700);
  --current-theme: var(--color-gray-500);
  --header-blue-theme: #3280FF;
  /* --carousel-heading-font: font-family: "Protest Riot", "Poppins"; */
  --feature-card-bg: rgba(18, 24, 27, 0.9);
  --feature-card-border: rgba(255, 255, 255, 0.2);
  --feature-card-title: #fff;
  --feature-card-text: #ddd;
  --feature-card-badge-bg: rgba(255, 255, 255, 0.1);
  --loading-background: #111;
   --login-visual-background: linear-gradient( 300deg,
  #12181B 0%,     
  #12181B 50%,    
  #1f2937 100%  );
  --protest-riot-font:"Protest Riot", "Poppins";
  --login-card-bg: #12181b;
  --login-card-bottom-text: var(--color-gray-400);
  --login-border-color: var(--color-gray-600);
  --googleAuth-color: rgba(255, 255, 255, 0.148);
  --googleAuth-color-hover: rgba(255, 255, 255, 0.25);
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --otp-border: #d2d2d244;
  --dropdown_menu_hover: #212121;
  --dropdown_menu_items_bg: #4c4c4c5f;
  --dropdown_menu_items_hover_bg: #50525b;
  --dropdown_menu_items_border: #8b8b8b5f;
  --logout_button_hover: #e11d47d4;
}
* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  transition: all 0.2s ease-in-out;
}
body,
html {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}
.landing-page {
  background: var(--landing-page-gradient);
  /* background-color: var(--landing-page-color); */

}
.disable-selection {
  user-select: none;       
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;    
}
.disable-image-drag {
  -moz-user-drag: none;          
  -webkit-user-drag: none;   
  pointer-events: none;     
}
.auth-page {
  /* background: var(--auth-page-gradient); */
  
  background-image: url("./auth_bg_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

body {
  position: relative;
  /* background-image: url("./auth_bg_image.jpg"); */
}
.theme-toggle {
  position: absolute;
  top: 3.5rem;
  right: 1rem;
}

@keyframes smoothPagePopup { 
  0% { 
    opacity: 0; 
    transform: scale(0.98) translateY(10px); 
  } 
  100% { 
    opacity: 1; 
    transform: scale(1) translateY(0); 
  } 
} 

.page-transition { 
  animation: smoothPagePopup 0.4s cubic-bezier(0.4, 0, 0.2, 1); 
  will-change: transform, opacity;  
}
html.no-scroll,
body.no-scroll {
  overflow: hidden;
  height: 100%; 
}
.toast_error {
  /* background: var(--landing-page-gradient); */
  background-color: var(--toast-error-color);
}
.toast_success {
  background-color: var(--toast-success-color);
}
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(150%);
    opacity: 0;
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out forwards;
}

.animate-slideOut {
  animation: slideOut 0.3s ease-in forwards;
}
@keyframes slideIn {
  from {
    opacity: 0;
    scale:0.3;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    scale: 0.3;
    transform: translateY(-100px);
  }
}

.animate-enter {
  animation: slideIn 0.2s ease-out forwards;
}

.animate-leave {
  animation: slideOut 0.2s ease-in forwards;
}

.dropdown_hover_menu {
  background-color: var(--dropdown_menu_hover);
}